.background {
  /* background-image: url("./landing.jpg"); */
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
/* button { */
  /* padding: 10px; */
  /* margin: 15px; */
  /* background-color: blue; */
  /* color:white; */
  /* border-radius: 15px; */
/* } */
select {
  padding: 10px;
  margin: 15px;
}
.courses{
  margin-top:20%;
  gap:10px;
}
.courses h2{

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
   grid-auto-rows:minmax(140px,auto);
  grid-auto-columns: minmax(150px,auto);
  background-color: white;
  justify-content: center;
  text-align: center;
}
